html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 400px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 280px) {
    font-size: 35%;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(133,130,244,1) 0%, rgba(81,145,255,1) 51%, rgba(2,22,46,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 400px) {
    padding-top: 16vh;
  }
}