button::-moz-focus-ring {
  outline: none;
}


.btn {
  width: 50%;
  height: 50%;
  border: 10px solid $color-gray;
  outline: none;
  
  &:active {
    outline: none;
  }

  &--green {
    border-top-left-radius: 100%;
    background-color: $color-green;
    color: $color-green;
    border-left: none;
    border-top: none;

    &:active:not(:disabled), &.active {
      background-color: lighten($color-green, 15%)
    }
  }

  &--red {
    border-top-right-radius: 100%;
    background-color: $color-red;
    color: $color-red;
    border-right: none;
    border-top: none;
    
    &:active:not(:disabled), &.active {
      background-color: lighten($color-red, 15%)
    }
  }

  &--blue {
    border-bottom-left-radius: 100%;
    background-color: $color-blue;
    color: $color-blue;
    border-left: none;
    border-bottom: none;
    
    &:active:not(:disabled), &.active {
      background-color: lighten($color-blue, 15%)
    }
  }

  &--yellow {
    border-bottom-right-radius: 100%;
    background-color: $color-yellow;
    color: $color-yellow;
    border-right: none;
    border-bottom: none;

    &:active:not(:disabled), &.active {   // ???? :active:not(:disabled) is needed for Firefox, else the button can still be :active despote being desabled????
      background-color: lighten($color-yellow, 15%)
    }
  }

}